@model TodoItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title">
    <label asp-for="DueAt">Select a due date:</label>
    <input asp-for="DueAt" autocomplete="off">
    <button type="submit">Add</button>
</form>

<script>
$( document ).ready(function() {
    $('#DueAt').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        maxViewMode: 3,
        todayBtn: "linked",
        autoclose: true
    });    
});
</script>